html, body {
    width: 200px;
}

ul.colored {
   list-style: none;
}

ul.colored li {
        list-style: none;
}
ul.colored li:before {
        content:'\2022';
        display: block;
        position: relative;
        max-width: 0px;
        max-height: 0px;
        left: -25px;
        top: -15px;
        font-size: 50px;
}

ul.colored li.good:before{
   color: green;
}

ul.colored li.meh:before {
    color: orange;
}

ul.colored li.bad:before {
    color: red;
}
